body {
  font-family: Helvetica, sans-serif;
  text-align: center;
}

h1 {
  font-size: 70px;
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 23px;
}

h1,
h2,
h3 {
  font-weight: bold;
}

.nav {
  font-size: 18px;
  color: white;
}

p {
  font-size: 14px;
}

div.banner {
  color: White;
  background-image: url("../../resources/images/the-flatiron-building.png");
}

.footer {
  text-align: left;
  background-color: dimgray;
  color: white;
}

.small {
    font-size: 11px;
}
